@charset "utf-8";
/*任务面板*/
* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.wrapper {
  width: 880px;
  height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  border: gray solid 1px;
}
/*头部*/
header h1 {
  background: #0f4d92;
  color: #ffffff;
  text-align: center;
  text-shadow: 1px 1px 5px #000000;
  margin: 0;
}
/*导航栏*/
nav {
  background: #686868;
  height: 40px;
}
nav ul {
  padding-left: 0px;
  list-style: none;
  text-align: center;
}
nav li {
  display: inline;
}
nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #444444;
  padding: 5px 10px;
  margin: 4px 10px;
  border-radius: 10px;
  cursor: pointer ;
}
.active {
  color: #0099CC;
  background: #222222;
  margin-top: 1px;
}
#taskList,
#memo {
  display: none;
}
#taskList {
  background: #dddddd;
}
#taskList form {
  margin: 0 15px;
}
#taskList form #top {
  width: 100%;
}
#taskList form #top textarea {
  width: 100%;
}
#taskList form #bottom lable {
  font-size: 18px;
}
#taskList form #bottom input {
  width: 200px;
  height: 26px;
  margin-left: 20px;
}
#taskList form #addBtn {
  background: #0a0;
  color: #0f0f0f;
  border: none;
  width: 90px;
  height: 30px;
  margin-top: 3px;
  border-radius: 6px;
}
#addTask article {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  overflow: hidden;
}
#addTask article div {
  float: left;
  padding-right: 10px;
}
#addTask article time {
  font-size: 0.7em;
  color: #999999;
  font-family: "微软雅黑";
  cursor: pointer;
}
#addTask article h5 {
  cursor: pointer;
}
#addTask article .right-box {
  float: right;
}
#addTask article .right-box button {
  background: #ad390c;
  color: #ffffff;
  border-radius: 5px;
  border: 0;
  padding: 7px;
  cursor: pointer;
}
